${voffset 3}${color0}[:NAME:]${color}${alignr}${color1}[:PERCENT:]%${color}
D: ${color0}[:DOWN:]${color} ETA: ${color0}[:ETA:]${color} R: ${color0}[:RATIO:]${color}
${voffset -2}${lua_bar 3,0 conkytransmission [:PERCENT:]}
